*{

    color: black;
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{

    overflow-x: hidden;

}

a{

    text-decoration: none;

}

.logo{

    max-width: 10%;
    height: 100%;
    display: flex;

}

.logo img{

    width: 100%;
    height: 100%;
    align-items: center;

}

header{

    display: flex;
    height: 3.2em;
    padding: 1em;
    background-color: #6A9C89;
    top: 0px;
    width: 100%;
    transition: 0.6s;

}

.nombre_web{

    color: white;
    text-shadow: 0px 0px 3px  black;
    font-weight: 500;
    display: inline-block;
    align-self: center;
    margin-left: 0.5em;
    font-size: 2em;
    font-family: fantasy;

}

nav{

    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 1em;
}

nav a {

    margin-left: 1.5em;
    display: inline-block;
    color: white;
    font-weight: bold;
    display: none;

}

.loggedIn header nav a.loggedIn{

    display: inline-block;

}

.loggedIn header nav a.loggedOut{

    display: none;

}

.loggedOut header nav a.loggedIn{

    display: none;

}

.loggedOut header nav a.loggedOut{

    display: inline-block;

}

#irAInicio{

    display: inline-block;
}

.contenido{

    display: flex;
    justify-content: center;
    background-color:  rgb(240, 240, 240);
    background-image: url('arepa.png');
    background-position: 200%  0%;
    background-size: 80%;
    background-repeat: no-repeat;
    padding: 2.3em 0em 2.3em 0em;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
}

table{

    width: 90%;
    max-width: 1000px;
    background-color: white;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);

}

table th{

    background-color: aliceblue;
    text-align: center;
    padding: 10px 1px 10px 1px;

}

table td{

    text-align: center;
    padding: 1px;
    font-size: 0.9em;
    padding: 10px 1px 10px 1px;

}

h1{

    font-size: 1.5em;  
    text-align: center;
    margin-bottom: 1em;

}

.boton_nuevo_check{

    align-self: center;
    justify-self: center;
    display: block;
    margin: auto;
    background-color: #6A9C89;
    border: none;
    padding: 1em;
    font-size: 1em;
    transition: 0.4s;
    border-radius: 7px;
    padding-left: 25px;
    padding-right: 25px;
}

.boton_nuevo_check:hover{

    background-color: #3f7055;

}



footer{

    background-color: #3f7055;
    padding: 2em;
    text-align: center;

}